{% extends 'base.html' %}

{% block gestion_son %}
    {% include 'gestion_son.html' %}
{% endblock %}

{% block ident %}

    <script>
        var id_acar = 1;
        var slide = 2;

    </script>

{% endblock %}

{% block header %}
    {% include 'header_acar.html' %}
{% endblock %}

{% block content %}


  <div class="container">
         
       
         
  {% for id, tache in donnees.items() if tache['slide'] == slide%}
  <div class="row">

      <div class="col">
        <form onsubmit="modifier(event, {{id}},{{id_acar}},{{slide}})">
              
                  <button id="id_bouton_tache{{ id }}" type="submit" class="btn btn-primary btn-block w-100 fixed-height-button custom-button accomplie-{{ tache['accomplie'] }}">
                      {{ tache['label'] }}
                  </button>
          
          </form>
      </div>



      
  {% if tache['sablier']: %}

  
      <div class="col">
          <button id="id_bouton_sablier{{ id }}" type="submit" class="btn btn-primary btn-block w-100 fixed-height-button custom-button accomplie-{{ tache['accomplie'] }}">
              <span id = "id_valeur_sablier{{id}}"></span> 
          </button>
      </div>
      
  {% if sabliers[id]['repetition']>1 and tache['sablier']==1 : %}
      
      <div class="col">
        
        <button id="id_bouton_sablier_restant{{ id }}" type="submit" class="btn btn-primary btn-block w-100 fixed-height-button custom-button accomplie-{{ tache['accomplie'] }}">
            <span id = "valeur_sablier_restant{{id}}"></span> 
        </button>
        <p>Nombre de répétitions restantes </p> 
    </div>
    {% endif %}

  {% endif %}

 
  {% if tache['chrono']: %}

      <div class="col">
          <button id="id_bouton_chrono{{ tache['id'] }}" type="submit" class="btn btn-primary btn-block w-100 fixed-height-button custom-button accomplie-{{ tache['accomplie'] }}">
              <span id = "id_valeur_chrono{{tache['id']}}"></span> 
          </button>
      </div>



  {% endif %}

  
</div>
<p></p>
  {% endfor %}

</div>

{% endblock %}


{% block footer %}

    {% include 'footer_acar.html' %}

{% endblock %}


