<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 

    

    {% block css %}
   
    {% endblock %}
</head>
<body>
    
    {% block gestion_son %}
   
    {% endblock %}
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50">
    <a class="navbar-brand" href="#">Acar Dynamique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">Accueil</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Liste des ACARS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="nav-link" href="{{ url_for('acar.f_acar', id_acar=1,slide=1) }}">Premier test d'Acar</a></li>
            <li><a class="nav-link" href="{{ url_for('acar.f_acar', id_acar=3,slide=1) }}">Arrêt cardiaque au bloc opératoire</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block ident %}{% endblock %}
    <div id="container">
      {% block header %}{% endblock %}
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block footer %}{% endblock %} 
    
</body>
</html>