
{% for id, tache in donnees.items() if  tache['slide'] == slide %}
    {%if  'sound' in tache%}
    <audio id="audio_tache{{id}}" class="audio"  controls>
        <source src="{{ url_for('static', filename='sounds/'+tache['sound']) }}" type="audio/mp3">
        Votre navigateur ne prend pas en charge l'élément audio.
    </audio>
    {%endif %}
    {% if id in sabliers%}
        {% if sabliers[id]['sound']%}
        <audio id="audio_sablier{{id}}" class="audio"  controls>
            <source src="{{ url_for('static', filename='sounds/'+sabliers[id]['sound']) }}" type="audio/mp3">
            Votre navigateur ne prend pas en charge l'élément audio.
        </audio>
        {%endif %}
    {%endif %}
{% endfor %}
<script>
    var audios = {};
    document.addEventListener("DOMContentLoaded", function() {
        {% for id, tache in donnees.items() if tache['slide'] == slide  %}
            {%if  'sound' in tache%}

            var audioElement = document.getElementById("audio_tache{{ id }}");
            if (audioElement) {
                console.log('il y a bien une tache son', '{{ tache["sound"] }}');
                audios["audio_tache{{ id }}"] = audioElement;
                }
            {%endif %}
            {%if  'sound' in sabliers[id]%}

            var audioElement = document.getElementById("audio_sablier{{ id }}");
            if (audioElement) {
                console.log('il y a bien une tache son', '{{ sabliers[id]["sound"] }}');
                audios["audio_sablier{{ id }}"] = audioElement;
                }
            {%endif %}

        {% endfor %}
        console.log(audios);
    });
</script>
