<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-center"> {% block title %} {{titre_acar}}  {% endblock %}</h2>
          </div>

          
        <div class="col-sm">
          <div class="alert alert-primary" role="alert">
              <h4 class="text-center" >Slide {{slide}}</h4>
            </div>
          
          <p></p>
           
        </div>
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
            <h4 class="text-center" >Timer : <span  id="id_valeur_chrono0"></span></h4>
          </div>
       
        <p></p>
       
      </div>
      
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
            <form onsubmit="reset_acar(event,{{id_acar}})">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button id="button_reset_{{id_acar}}" type="submit" class="btn btn-primary">
                        reset ACAR {{id_acar}}
                    </button>
                </div>
            </form>
        </div>
       
        <p></p>
       
      </div>
      
    </div>
  </div>
