body {
    background-color:aliceblue;
    margin: 0;
}

#navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    font-size: 1.1em;
    color: #333;
}

#navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-item.login-logout {
    margin-left: auto;
}

.navbar-item a {
    text-decoration: none;
    display: block;
    color: #333;
    font-weight: bold;
}

.navbar-item a:hover {
    color: #fcfcfc;
}

#container {
    margin: 20px 50px;
}

.accomplie-0 {
    background-color: red;
}

.accomplie-1 {
    background-color: green;
} 

.custom-button:hover {
    background-color: red/* Couleur d'origine lorsque accomplie est 0 */;
    color: /* Couleur du texte d'origine lorsque accomplie est 0 */;
    /* Ajoutez d'autres styles si nécessaire */
}

.custom-button.accomplie-1:hover {
    background-color: green/* Couleur d'origine lorsque accomplie est 1 */;
    color: /* Couleur du texte d'origine lorsque accomplie est 1 */;
    /* Ajoutez d'autres styles si nécessaire */
}

.fixed-height-button {
    height: 40px; /* Ajoutez la hauteur fixe que vous souhaitez */
    /* Autres styles si nécessaire */
}