body {
    background-color:aliceblue;
    margin: 0;
}


#container {
    margin: 20px 50px;
}

.accomplie-0 {
    background-color: red;
}

.accomplie-1 {
    background-color: green;
} 

.accomplie-2 {
    background-color: orange;
} 

.custom-button:hover {
    background-color: red/* Couleur d'origine lorsque accomplie est 0 */;
    color: /* Couleur du texte d'origine lorsque accomplie est 0 */;
    /* Ajoutez d'autres styles si nécessaire */
}

.custom-button.accomplie-1:hover {
    background-color: green/* Couleur d'origine lorsque accomplie est 1 */;
    color: /* Couleur du texte d'origine lorsque accomplie est 1 */;
    /* Ajoutez d'autres styles si nécessaire */
}

.custom-button.accomplie-2:hover {
    background-color: orange/* Couleur d'origine lorsque accomplie est 1 */;
    color: /* Couleur du texte d'origine lorsque accomplie est 1 */;
    /* Ajoutez d'autres styles si nécessaire */
}

.fixed-height-button {
    height: 40px; /* Ajoutez la hauteur fixe que vous souhaitez */
    /* Autres styles si nécessaire */
}

#myAudio {
    display: none; /* Masquer le lecteur audio */
}

.audio {
        display: none;
    }