<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location de voitures</title>
</head>
<body>
    <h1>Véhicules disponibles</h1>
    <ul id="vehicules-list">
        {% for vehicule in vehicules %}
        <li>{{ vehicule[1] }} {{ vehicule[2] }} ({{ vehicule[3] }})</li>
        {% endfor %}
    </ul>
    
    <h1>Agences de location</h1>
    <ul id="agences-list">
        {% for agence in agences %}
        <li>{{ agence[1] }} - {{ agence[2] }}, {{ agence[3] }}, {{ agence[4] }}</li>
        {% endfor %}
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/idb@8/build/umd.js"></script>
    <script>
        // Fonction pour initialiser la base de données IndexedDB
        const initializeDB = async () => {
            const db = await idb.openDB('location-db', 1, {
            upgrade(db) {
                if (!db.objectStoreNames.contains('vehicules')) {
                    const store = db.createObjectStore('vehicules', { keyPath: 'id' });
                    store.createIndex('marque_index', 'marque', { unique: false });
                }
                if (!db.objectStoreNames.contains('agences')) {
                    db.createObjectStore('agences', { keyPath: 'id' });
                }
                if (!db.objectStoreNames.contains('locations')) {
                    const store = db.createObjectStore('locations', { keyPath: 'id' });
                    store.createIndex('id_agence_index', 'id_agence', { unique: false });
                }
            }
            });
            return db;
        };

        // Fonction pour stocker les données des véhicules dans la base de données locale IndexedDB
        const storeVehicules = async () => {
            const db = await initializeDB();
            const tx = db.transaction('vehicules', 'readwrite');
            const store = tx.objectStore('vehicules');
            {% for vehicule in vehicules %}
            store.put({
                id: {{ vehicule[0] }},
                marque: "{{ vehicule[1] }}",
                modele: "{{ vehicule[2] }}",
                annee: {{ vehicule[3] }},
                couleur: "{{ vehicule[4] }}",
                prix_journalier: {{ vehicule[5] }}
            });
            {% endfor %}
            await tx.done;
        };

        // Fonction pour stocker les données des agences dans la base de données locale IndexedDB
        const storeAgences = async () => {
            const db = await initializeDB();
            const tx = db.transaction('agences', 'readwrite');
            const store = tx.objectStore('agences');
            {% for agence in agences %}
            store.put({
                id: {{ agence[0] }},
                nom: "{{ agence[1] }}",
                adresse: "{{ agence[2] }}",
                ville: "{{ agence[3] }}",
                code_postal: "{{ agence[4] }}"
            });
            {% endfor %}
            await tx.done;
        };

        // Fonction pour stocker les données des locations dans la base de données locale IndexedDB
        const storeLocations = async () => {
            const db = await initializeDB();
            const tx = db.transaction('locations', 'readwrite');
            const store = tx.objectStore('locations');
            {% for location in locations %}
            store.put({
                id: {{ location[0] }},
                id_vehicule: {{ location[1] }},
                id_agence: {{ location[2] }},
                date_debut: "{{ location[3] }}",
                date_fin: "{{ location[4] }}",
                prix_total: {{ location[5] }}
            });
            {% endfor %}
            await tx.done;
        };

        // Appel des fonctions pour stocker les données dans la base de données locale IndexedDB
        storeVehicules();
        storeAgences();
        storeLocations();
    </script>
</body>
</html>
